@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Not Found";
}

<div class="alert alert-danger">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">The page you were looking for does not exist. ;(</h2>
</div>