
@{
    ViewBag.Title = "Admin";
}

<h2>This is the AdminControllerView </h2>

@Html.ActionLink("Manage Roles", "Index", "Roles", routeValues: new { Area = "Administration" }, htmlAttributes: new { title = "Manage" , @class = "btn btn-lg btn-success"})
@Html.ActionLink("Manage Stories", "Index", "Stories", routeValues: new { Area = "Administration" }, htmlAttributes: new { title = "Manage", @class = "btn btn-lg btn-success" })
