@model MotivateMe.Data.Models.Article

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div class="jumbotron">
    @Html.EditorForModel()
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>