@using MotivateMe.Data.Models
@model IEnumerable<Story>
@{
    ViewBag.Title = "Stories";
}

<h2>Stories</h2>

@(Html.Kendo()
    .Grid<Story>(Model)
    .Name("grid")
    .Columns(columns => 
    {
        columns.Bound(st => st.Id);
        columns.Bound(st => st.Title);
        columns.Bound(st => st.StoryContent);
        columns.Bound(st => st.CreatedOn);
       
    })
    .Sortable()
    .Pageable(st=>st.Refresh(true))
   // .Editable()
    .Filterable()
    .Groupable()
)
