@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <p> Our goal is to make people share their stories, experiences and tips,
     so that they can be more motivated to do something useful for themselves and maybe later for the others.
    When a person is motivated to do good things he is capable to change the attitude of the people around him and with the domino effect
    one person could change the world, to make it a better place to live. :) </p>
</div>
