@model IEnumerable<MotivateMe.Web.ViewModels.Home.IndexStoryViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    
    <h2>Top Stories</h2>
    @foreach (var story in Model)
    {
        <div>
            <h3>@story.Title</h3>
            <p>@story.Content</p>
        </div>
    }
       
</div>

