@using MotivateMe.Web.ViewModels.Home
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-6">
            <h2>Newest Stories</h2>
            <hr />
            @Html.Partial("_LatestStoriesPartial", ViewBag.Stories as ICollection<IndexStoryViewModel>)
        </div>

        <div class="col-md-6">
            <h2>Newest Campaigns</h2>
            <hr />
            @Html.Partial("_LatestCampaignsPartial", ViewBag.Campaigns as ICollection<IndexCampaignViewModel>)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Newest Articles</h2>
            <hr />
            @Html.Partial("_LatestArticlesPartial", ViewBag.Articles as ICollection<IndexArticleViewModel>)
        </div>
        <div class="col-md-6">
            <h2>Newest Tips</h2>
            <hr />
            @Html.Partial("_LatestTipsPartial", ViewBag.Tips as ICollection<IndexTipViewModel>)
        </div>
    </div>
</div>

